<channels>
<channel>
<name>[B][COLOR white]Temporada 1[/COLOR][/B]</name>
<thumbnail>LINK DO THUMBNAIL/ICON QUE FICA DO LADO</thumbnail>
<externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Stranger%20Things/temp%201.xml</externallink>
<fanart>LINK DO FANART DO ADDON QUE FICA NO FUNDO</fanart>
<info>Filmes Recentementes Lançados</info>
</channel>
<channel>
<name>[B][COLOR white]Categoria: [/COLOR][COLOR gold]Temporada 2[/COLOR][/B]</name>
<thumbnail>LINK DO THUMBNAIL/ICON QUE FICA DO LADO</thumbnail>
<externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Stranger%20Things/temp 2.xml</externallink>
<fanart>LINK DO FANART DO ADDON QUE FICA NO FUNDO</fanart>
<info>Categorias Ex. Ação,Animação,Etc..</info>
</channel>
<channel>
<name>[B][COLOR white]Categoria: [/COLOR][COLOR gold]Temporada 3[/COLOR][/B]</name>
<thumbnail>LINK DO THUMBNAIL/ICON QUE FICA DO LADO</thumbnail>
<externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Stranger%20Things/temp 3.xml</externallink>
<fanart>LINK DO FANART DO ADDON QUE FICA NO FUNDO</fanart>
<info>Sequencia De Filmes Organizadas Juntas</info>
</channel>
</channels>
