<channels>
  
    <channel>
    <name>[B][COLOR white]Temporada 1[/COLOR][/B]</name>
    <thumbnail>LINK DO THUMBNAIL/ICON QUE FICA DO LADO</thumbnail>
    <externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Peaky%20Blinders/temp%201.xml</externallink>
    <fanart>LINK DO FANART DO ADDON QUE FICA NO FUNDO</fanart>
    <info>O detetive de Belfast Chester Campbell é enviado a Birmingham para livrar a cidade de suas violentas gangues de rua.</info>
    </channel>
      
    <channel>
    <name>[B][COLOR white]Temporada 2[/COLOR][/B]</name>
    <thumbnail>LINK DO THUMBNAIL/ICON QUE FICA DO LADO</thumbnail>
    <externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Peaky%20Blinders/temp%202.xml</externallink>
    <fanart>LINK DO FANART DO ADDON QUE FICA NO FUNDO</fanart>
    <info></info>
    </channel>
      
    <channel>
    <name>[B][COLOR white]Temporada 3[/COLOR][/B]</name>
    <thumbnail>LINK DO THUMBNAIL/ICON QUE FICA DO LADO</thumbnail>
    <externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Peaky%20Blinders/temp%203.xml</externallink>
    <fanart>LINK DO FANART DO ADDON QUE FICA NO FUNDO</fanart>
    <info></info>
    </channel>
      
     <channel>
    <name>[B][COLOR white]Temporada 4[/COLOR][/B]</name>
    <thumbnail>LINK DO THUMBNAIL/ICON QUE FICA DO LADO</thumbnail>
    <externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Peaky%20Blinders/temp%204.xml</externallink>
    <fanart>LINK DO FANART DO ADDON QUE FICA NO FUNDO</fanart>
    <info></info>
    </channel>

    <channel>
    <name>[B][COLOR white]Temporada 5[/COLOR][/B]</name>
    <thumbnail>LINK DO THUMBNAIL/ICON QUE FICA DO LADO</thumbnail>
    <externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Peaky%20Blinders/temp%205.xml</externallink>
    <fanart>LINK DO FANART DO ADDON QUE FICA NO FUNDO</fanart>
    <info></info>
    </channel>

    <channel>
    <name>[B][COLOR white]Temporada 6[/COLOR][/B]</name>
    <thumbnail>LINK DO THUMBNAIL/ICON QUE FICA DO LADO</thumbnail>
    <externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Peaky%20Blinders/temp%206.xml</externallink>
    <fanart>LINK DO FANART DO ADDON QUE FICA NO FUNDO</fanart>
    <info></info>
    </channel>
      
    </channels>