<channels>
<channel>
<name>[B][COLOR lime]●[/COLOR] [COLOR white]TV[/COLOR] [COLOR yellow]HD/SD[/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/QyVKWBg.jpg</thumbnail>
<externallink>https://github.com/hugoow/yeloplays/raw/main/canais/alternativos/Servers.xml</externallink>
<fanart>https://i.imgur.com/QyVKWBg.jpg</fanart>
<info>Melhores Canais,encontrados na internet.</info>
</channel>
<channel>
<name>[B][COLOR lime]●[/COLOR] [COLOR white]Eventos[/COLOR] [COLOR yellow]HD/SD[/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/QyVKWBg.jpg</thumbnail>
<externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/eventos/menu.xml</externallink>
<fanart>https://i.imgur.com/QyVKWBg.jpg</fanart>
<info>Melhores Eventos,encotrados na internet</info>
</channel>
<channel>
<name>[B][COLOR lime]●[/COLOR] [COLOR white]Filmes[/COLOR] [COLOR yellow]HD/SD[/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/m1nAGZy.jpg</thumbnail>
<externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/filmes/Filmes%20-%20Servers.xml</externallink>
<fanart>https://i.imgur.com/m1nAGZy.jpg</fanart>
<info>Melhores Filmes,encontrados na internet.</info>
</channel>
<channel>
<name>[B][COLOR lime]●[/COLOR] [COLOR white]Series[/COLOR] [COLOR yellow]HD/SD[/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/m1nAGZy.jpg</thumbnail>
<externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/Server.xml</externallink>
<fanart>https://i.imgur.com/m1nAGZy.jpg</fanart>
<info>Melhores Series,encontradas na internet.</info>
</channel>
<channel>
<name>[B][COLOR red]●[/COLOR] [COLOR white]Desenhos[/COLOR] [COLOR yellow]HD/SD[/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/lHNFDcc.png</thumbnail>
<externallink>https://pastebin.com/raw/JAhkAqhx</externallink>
<fanart>https://i.imgur.com/pk8hVv5.jpg</fanart>
<info>Melhores Desenhos,encontrados na internet.</info>
</channel>
<channel>
<name>[B][COLOR red]●[/COLOR] [COLOR white]Animes[/COLOR] [COLOR yellow]HD/SD[/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/lHNFDcc.png</thumbnail>
<externallink>https://pastebin.com/raw/JAhkAqhx</externallink>
<fanart>https://i.imgur.com/pk8hVv5.jpg</fanart>
<info>Melhores Animes,encontrados na internet.</info>
</channel>
</channels>
