<channels>
  
    <channel>
    <name>[B][COLOR white]Temporada 1[/COLOR][/B]</name>
    <thumbnail>https://art-gallery-latam.api.hbo.com/images/GYw-Q1wlp91iCmwEAAAlK/tile?v=8bc14e7c79b3aa89bf88cfb508884a29&size=1280x720&compression=low&protection=false&language=pt-br</thumbnail>
    <externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Vale%20Dos%20Esquecidos/temp%201.xml</externallink>
    <fanart>https://art-gallery-latam.api.hbo.com/images/GYw-Q1wlp91iCmwEAAAlK/tile?v=8bc14e7c79b3aa89bf88cfb508884a29&size=1280x720&compression=low&protection=false&language=pt-br/fanart>
    <info>Um grupo de jovens se perde fazendo uma trilha no meio da mata, quando são atacados. Feridos e com dos seus tendo sido capturado, eles encontram abrigo em um vilarejo coberto por uma névoa eterna, um lugar de onde ninguém pode escapar.</info>
    </channel>
      
    </channels>