<channels>
  
    <channel>
    <name>[B][COLOR white]Temporada 1[/COLOR][/B]</name>
    <thumbnail>LINK DO THUMBNAIL/ICON QUE FICA DO LADO</thumbnail>
    <externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Stranger%20Things/temp%201.xml</externallink>
    <fanart>LINK DO FANART DO ADDON QUE FICA NO FUNDO</fanart>
    <info></info>
 
   </channel>
      
    <channel>
    <name>[B][COLOR white]Temporada 2[/COLOR][/B]</name>
    <thumbnail>LINK DO THUMBNAIL/ICON QUE FICA DO LADO</thumbnail>
    <externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/series/pastas/Cidade%20Invis%C3%ADvel/temp%202.xml</externallink>
    <fanart>LINK DO FANART DO ADDON QUE FICA NO FUNDO</fanart>
    <info>Depois de voltar à vida em águas sagradas, um homem faz de tudo para encontrar a filha. Nessa busca, ele descobre sua verdadeira natureza.</info>
    </channel>
      
      
</channels>
