<item>
<title>[B]|||| [COLOR gold]Eventos Dia 03/08/22[/COLOR] ||||[/B]</title> 
<link>here</link>
<thumbnail>https://i.imgur.com/Bs9javZ.png</thumbnail>
<fanart>https://i.imgur.com/Bs9javZ.png</fanart>
<info>Enventos Esportivos Acontecidos no Dia 03/08/22</info>
</item>
<item>
<title>[B]São Paulo [COLOR gold]x[/COLOR] Flamengo[/B]</title>
<link>https://prod-ec-us-east-1.video.pscp.tv/Transcoding/v1/hls/HYY8mS94AqOgz1oz_s_pJ6tZtJFZy5zg-szs5GfDkodVCxGHDDqArro7eNW4MCvGiDID_eb2RyRTJVuyjHU3oQ/transcode/us-east-1/periscope-replay-direct-prod-us-east-1-public/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsInZlcnNpb24iOiIyIn0.eyJFbmNvZGVyU2V0dGluZyI6ImVuY29kZXJfc2V0dGluZ183MjBwMzBfMTAiLCJIZWlnaHQiOjcyMCwiS2JwcyI6Mjc1MCwiV2lkdGgiOjEyODB9.ldktM4fCFRfkP4ZEBfZPKtlAUNAcTPkoz994YJAzWpE/tw_dynamic_highlatency.m3u8?type=live</link>
<thumbnail>https://esportenewsmundo.com.br/wp-content/uploads/2022/08/WhatsApp-Image-2022-08-02-at-14.55.56.jpeg</thumbnail>
<fanart>https://esportenewsmundo.com.br/wp-content/uploads/2022/08/WhatsApp-Image-2022-08-02-at-14.55.56.jpeg</fanart>
<info>Um dos amistosos mais aguardados da pré-temporada do futebol europeu acontece na noite deste sábado, 30 de julho. O jogo Real Madrid x Juventus acontece às 23h (horário de Brasília), no Rose Bowl, em Los Angeles, Estados Unidos.</info>
</item>
