<item>
<title>[B]|||| [COLOR gold]Eventos Dia 14/07/22[/COLOR] ||||[/B]</title> 
<link>here</link>
<thumbnail>https://i.imgur.com/Bs9javZ.png</thumbnail>
<fanart>https://i.imgur.com/Bs9javZ.png</fanart>
<info>Enventos Esportivos Acontecidos no Dia 14/07/22</info>
</item>
<item>
<title>[B]São Paulo [COLOR gold]x[/COLOR] Palmeiras[/B]</title>
<link>https://prod-ec-sa-east-1.video.pscp.tv/Transcoding/v1/hls/4D1_OH5n9XxMm_7MzoUuCWCHx4yYbDNvq0RpvASKduVGDgol1r5YsPywMke-V3WH3Kyxp8B-zaciTa1m7me4gQ/transcode/sa-east-1/periscope-replay-direct-prod-sa-east-1-public/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsInZlcnNpb24iOiIyIn0.eyJFbmNvZGVyU2V0dGluZyI6ImVuY29kZXJfc2V0dGluZ183MjBwMzBfMTAiLCJIZWlnaHQiOjcyMCwiS2JwcyI6Mjc1MCwiV2lkdGgiOjEyODB9.ldktM4fCFRfkP4ZEBfZPKtlAUNAcTPkoz994YJAzWpE/tw_dynamic_highlatency.m3u8?type=live</link>
<thumbnail>https://blogger.googleusercontent.com/img/a/AVvXsEi0kJOefOsyCWXO0k17LJIDx-_bbcjWv7C5Hft8PJoJq4mSb9qaGqkj-EOBlzDiyA750nIFINdFOeY2jqyPyM6OtoaClw0YGiigctibNsNDGTLmqBt7-T3oxR28sEjdXkxEJWRmDfcgfURj3vUzY4t7-Bxw0sIlzbBkd9QaURLUVyga7VjIdMLIwcDh</thumbnail>
<fanart>https://blogger.googleusercontent.com/img/a/AVvXsEi0kJOefOsyCWXO0k17LJIDx-_bbcjWv7C5Hft8PJoJq4mSb9qaGqkj-EOBlzDiyA750nIFINdFOeY2jqyPyM6OtoaClw0YGiigctibNsNDGTLmqBt7-T3oxR28sEjdXkxEJWRmDfcgfURj3vUzY4t7-Bxw0sIlzbBkd9QaURLUVyga7VjIdMLIwcDh=w400-h225</fanart>
<info>Jogo de volta das oitavas de final da Copa do Brasil</info>
</item>
