<item>
<title>[B]|||| [COLOR gold]Eventos Dia 14/07/22[/COLOR] ||||[/B]</title> 
<link>here</link>
<thumbnail>https://i.imgur.com/Bs9javZ.png</thumbnail>
<fanart>https://i.imgur.com/Bs9javZ.png</fanart>
<info>Categoria Filmes e Series</info>
</item>
<item>
<title>[B]São Paulo x Palmeiras[/B]</title>
<link>https://prod-ec-sa-east-1.video.pscp.tv/Transcoding/v1/hls/4D1_OH5n9XxMm_7MzoUuCWCHx4yYbDNvq0RpvASKduVGDgol1r5YsPywMke-V3WH3Kyxp8B-zaciTa1m7me4gQ/transcode/sa-east-1/periscope-replay-direct-prod-sa-east-1-public/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsInZlcnNpb24iOiIyIn0.eyJFbmNvZGVyU2V0dGluZyI6ImVuY29kZXJfc2V0dGluZ183MjBwMzBfMTAiLCJIZWlnaHQiOjcyMCwiS2JwcyI6Mjc1MCwiV2lkdGgiOjEyODB9.ldktM4fCFRfkP4ZEBfZPKtlAUNAcTPkoz994YJAzWpE/tw_dynamic_highlatency.m3u8?type=live</link>
<thumbnail>https://yt3.ggpht.com/L8svVJBwJuCV9gG6-A6q8efblNC5mEH3ydOOm5KVKWgp9TAUXjQHoiRocWK80mqOAmIeoIprAA=s900-c-k-c0x00ffffff-no-rj</thumbnail>
<fanart>https://yt3.ggpht.com/L8svVJBwJuCV9gG6-A6q8efblNC5mEH3ydOOm5KVKWgp9TAUXjQHoiRocWK80mqOAmIeoIprAA=s900-c-k-c0x00ffffff-no-rj</fanart>
<info>Copa Do Brasil</info>
</item>
