<channels>
<channel>
<name>[B][COLOR lime]●[/COLOR] [COLOR white]SERVER 1[/COLOR][/B]</name>
<thumbnail>https://i.pinimg.com/originals/10/1e/11/101e1107e91db918a8e163622b2c95a0.gif</thumbnail>
<externallink>https://raw.githubusercontent.com/hugoow/yeloplays/main/filmes/Filmes%20-%20Menu.xml</externallink>
<fanart>https://i.imgur.com/pk8hVv5.jpg</fanart>
<info>Server 1</info>
</channel>
<channel>
<name>[B][COLOR lime]●[/COLOR] [COLOR white]SERVER 2[/COLOR][/B]</name>
<thumbnail>https://i.pinimg.com/originals/10/1e/11/101e1107e91db918a8e163622b2c95a0.gif</thumbnail>
<externallink>https://bluerayplay.com/kodi/BlurayFlix/Pasta%20dos%20Filmes/Filmes2021.xml</externallink>
<fanart>https://i.imgur.com/pk8hVv5.jpg</fanart>
<info>Server 2</info>
</channel>
</channels>
